$primary-color: #2C7EF8;
$secondary-color: #EBF3FE;
$linear-color: #EBF3FF;
$circle-color: #EFEBFF;
$circleb-color: #EBEBFB;
$border-color: #E3E3E3;
$border-cards: #F5F6F8;
$border-button: #E3E6E8;





